@import "tailwindcss";

@theme {
  --color-primary: #171821;
  --color-primary2: #21222d;
  --color-secondary: #a9dfd8;
  --color-garyText: #87888c;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}